p {
  color: yellow;
  width: 500px;
  border: 1px solid yellow;
}

li,h1 {
  color: red;
}
html {
  background-color: #0080ff
}
body {
  width: 600px;
  margin: 0 auto;
  background-color: #ff00ff;
  padding: 0 20px 20px 20px;
  border: 5px solid yellow;
}

h1 {
  margin: 0;
  padding: 20px 0;    
  color: #00539F;
  text-shadow: 3px 3px 1px yellow;
  text-align: center;
}